.forms{
    display: flex;
    flex-direction: row;

}
body{
    background-color: white;
}
.h1{
    text-align: center;
    background-color: white;

}
#dataid{
    position: absolute;
    left: 42%;
}
table{
    margin-top: 4%;
}